<div class="container">

<h2>Snippet details(<% Snippet.find params[:id] %>)</h2>

<p>Kind: <%= @snippet.kind %></p>
<p>Title: <%= @snippet.title %></p>
<p>Work: <%= @snippet.work %></p>

</div>

<% @snippet.comments.each do |comment| %>
<div>
  <%= comment.text %>
</div>

<% end %>

<%= form_for [@snippet, @comment] do |f| %>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <%= f.submit %>
<% end %>
