<div class="container">

<h2>All Snippets (<% Snippet.count %>)</h2>

<%= form_tag tables_path, method: :get do %>
  <%= label_tag :q, "Search" %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<br>
<%= link_to "Add a New Snippet", root_path %>
<br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Kind</th>
        <th>Title</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @snippets.each do |snippet| %>
        <tr>
          <td><%= snippet.kind %></td>
          <td><%= snippet.title %></td>
          <td><%= link_to "View", snippet_path(snippet) %></td>
          <td><%= button_to "Edit", edit_snippet_path(snippet), method: :get %></td>
          <td><%= button_to "Delete", snippet_path(snippet), method: :delete,
                    data: {confirm: "Are you sure you want to delete this snippet?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @snippets, q: params[:q] %>
</div>
